:root{
  --color-primary: #121212;
  --color-secondary: #F5F5F5;
  --color-tertiary: #F05454;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anybody', cursive;
  background-color: var(--color-primary);
  font-size: 62.5%;
}
body{
  min-width: 220px;
  position: relative;
  background-color: transparent;
}
/* Header */

header{
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  background: linear-gradient(rgb(0, 0, 0) 45%, rgba(255, 255, 255, 0) 100%);
  padding: 16px;
  z-index: 5;
}
header .home{
  text-decoration: none;
}
header h1{
  font-size: 1.8rem;
  color: var(--color-secondary);
  padding-bottom: 1.6rem;
}
header h1 span svg{
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-tertiary);
}
header h1 span svg path{
  fill: var(--color-tertiary);
}
header h1 span{
  font-size: 1.6rem;
  color: var(--color-tertiary);
}
/* Search */
.search{
  display: flex;
  flex-direction: column;
  padding-bottom: 1.6rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}
.search .search-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  font-size: 1.4rem;
}
.search .search-title svg {
  cursor: pointer;
  padding: .2rem;
}
.search .search-title svg path {
  fill: var(--color-secondary);
  padding: .4rem;
}
.search .search-title h2{
  
  color: var(--color-secondary);
  font-size: 1.4rem;
}
.search .bar-search {
  display: flex;
}

section input{
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: .8rem 0 0 .8rem;
  background-color: var(--color-secondary);
  outline: none;
  padding: 1rem;
  font-size: 1.4rem;
}
section span{
  height: 3rem;
  background-color: var(--color-tertiary);
  border-radius: 0 .8rem .8rem 0;
}
section span svg{
  cursor: pointer;
  padding: .8rem;
  background-color: var(--color-tertiary);
  border-radius: 0 .8rem .8rem 0;
}
section span svg path{
  fill: var(--color-secondary);
}
/* Tendencias */
/* Header */
main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
  padding: 8.5rem 1.6rem 0;
}
.favorites {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
  padding: 0 1.6rem;
}
/* main .tendencias{
  padding-bottom: 2rem;
} */
main .tendencias .tendencias-title{
  position: relative;
  display: flex;
  padding: 1.6rem 0 1.6rem;
  justify-content: space-between;
  align-items: center;
}



/* main .tendencias .tendencias-article{
  padding-top: 6rem;
} */
main section header h2,
.movie__detalle-text .movie__detalle--similar .movie__detalle--similar-title{
  font-size: 1.4rem;
  color: var(--color-secondary);
}
main section header button{
  cursor: pointer;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  border-radius: .8rem;
}
main section article,
.movie__detalle--similar .movie__detalle--similar-movie,
.favorites .favorites-list, .favorites-list {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
}
main section article img, .favorites-container .movie-img, .movie__detalle--similar-movie .movie-container .movie-img, .movie-container .movie-container img,  .favorites-list .movie-container .movie-container img, .favorites-list .movie-container .movie-img{
  width: 100%;
  min-height: 132px;
  max-width: 220px;
  border-radius: 1rem;
  background-color: #272727;
  
}
main .tendencias .tendencias-article .movie-container,
.movie__detalle--similar .movie__detalle--similar-movie .movie-container,
.favorites-list .movie-container
{
  width: 100%;
  margin: 0 auto;
}
.favorites-list .movie-container{
  width: 170px;
  margin: 0;
}
main .tendencias .tendencias-article .movie-container-loading, .movie-container-loading {
  min-width: 170px;
  height: 256px;
  background-color: #272727;
  border-radius: 1rem;
  animation: skelleton-loading 1s infinite;
}
main .tendencias .tendencias-article .movie-container-loading:nth-child(2) {
  animation-delay: 0.2s;
}
main .tendencias .tendencias-article .movie-container-loading:nth-child(3), .movie-container-loading:nth-child(3) {
  animation-delay: 0.4s;
}
main .tendencias .tendencias-article .movie-container-loading:nth-child(4), .movie-container-loading:nth-child(4) {
  animation-delay: 0.6s;
}
main .tendencias .tendencias-article .movie-container-loading:nth-child(5), .movie-container-loading:nth-child(5) {
  animation-delay: 0.8s;
} 
main .tendencias .tendencias-article .movie-container-loading:nth-child(6), .movie-container-loading:nth-child(6) {
  animation-delay: 1s;
}
main .tendencias .tendencias-article .movie-container-loading:nth-child(7), .movie-container-loading:nth-child(7) {
  animation-delay: 1.2s;
}
@keyframes skelleton-loading {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

}
main .tendencias .tendencias-article .movie-container .movie-img,
.movie__detalle--similar .movie__detalle--similar-movie .movie-container .movie-img, .favorites-container .movie-img, .favorites-list .movie-container .movie-img{
  width: 170px;
  min-width: 170px;
  min-height: 255px;
  background-color:#272727;
}
main .main-search, .main-tendencia, .main-category{
  padding-top: 2rem;
}
main .main-search .main-search-movies, .main-tendencia-movies, .main-category-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .main-search .main-search-movies .movie-container, .movie-container{
  width: 47%;
}
main .main-search .main-search-movies .movie-container-loading {
  min-width: 120px;
  width: 47%;
  max-width: 220px ;
  background-color: var(--color-secondary);border-radius: 1rem;
  animation: skelleton-loading 1s infinite;
}




/* Categoria */
/* Title */
.categoria {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.6rem 1.6rem;
  position: relative;
}
.categoria .categoria-title, .favorites .favorites-title {
  padding: 1.6rem 0;
  position: relative;
}
.categoria .categoria-title h2, .favorites .favorites-title h2 {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.4rem;
  color: var(--color-secondary);
}
.categoria .categoria-list {
  display: flex;
  color: var(--color-secondary);
}
.categoria .categoria-list .categories-container,
.movie__detalle-text .movie__detalle--genres .movie__detalle--genre-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
}
.categoria .categoria-list .categories-container li,
.movie__detalle-text .movie__detalle--genres .movie__detalle--genre-container .container-category {
  cursor: pointer;
  width: 45%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
  list-style: none;
  border-radius: .4rem; 
}
.categoria .categoria-list .container-category-loading {
  min-width: 45%;
  height: 23px;
  background-color: #272727;
  border-radius: .4rem;
  animation: skelleton-loading 1s infinite;
}
.categoria .categoria-list .container-category-loading:nth-child(3) {
  animation-delay: .2s;
}
.categoria .categoria-list .container-category-loading:nth-child(4) {
  animation-delay: .2s;
}
.categoria .categoria-list .container-category-loading:nth-child(5) {
  animation-delay: .4s;
}
.categoria .categoria-list .container-category-loading:nth-child(6) {
  animation-delay: .4s;
}
.categoria .categoria-list .container-category-loading:nth-child(7) {
  animation-delay: .6s;
}
.categoria .categoria-list .container-category-loading:nth-child(8) {
  animation-delay: .6s;
}
.categoria .categoria-list .container-category-loading:nth-child(9) {
  animation-delay: .8s;
}
.categoria .categoria-list .container-category-loading:nth-child(10) {
  animation-delay: .8s;
}
.categoria .categoria-list .categories-container li p,
.movie__detalle-text .movie__detalle--genres .movie__detalle--genre-container .container-category p{
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-left: .4rem;
  border-radius: 0 .3rem .3rem 0;
}
.movie__detalle{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.movie__detalle--container-img{
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 0) 100%);

}
.movie__detalle .movie__detalle-img{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.movie__detalle-text{
  max-width: 1200px;
  margin: 80vh auto 0;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0px 0px 50px 20px #000;
}
.movie__detalle-text .movie__detalle--text-header{
  padding: 2.4rem;
  display: flex;
  color: var(--color-secondary);
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
}
.movie__detalle-text .movie__detalle--text-header .movie__detalle--text-header-title{
  font-size: 1.8rem;
  font-weight: 700;
  
}
.movie__detalle-text .movie__detalle--text-header .movie__detalle--text-header-raiting{
  display: flex;
  align-items: center;
  padding: .5rem;
  gap: 1rem;
}
.movie__detalle-text .movie__detalle--text-header .movie__detalle--text-header-raiting .stars{
  font-weight: 700;
  font-size: 1.6rem;
}
.movie__detalle-text .movie__detalle--text-header .movie__detalle--text-header-raiting svg{
  width: 1.5rem;
  height: 1.5rem;
}
.movie__detalle-text .movie__detalle--description, .movie__detalle--genres, .movie__detalle--similar{
  padding: 2.4rem;
}
.movie__detalle-text .movie__detalle--description .movie__detalle--description-text{
  color: var(--color-secondary);
  font-size: 1.4rem;
}
.movie__detalle-text .movie__detalle--genres .movie__detalle--genre-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.movie__detalle-text .movie__detalle--genres .movie__detalle--genre-container li{
  width: 45%;
  color: var(--color-secondary);
  font-size: 1.2rem;
}
.movie__detalle-text .movie__detalle--similar .movie__detalle--similar-title {
  padding: 1.6rem 0 1.6rem;
  font-weight: 500;
}



#id28{
  background-color: #FFEA20;
} 
#id28 p:hover{
  background-color: hsl(54, 35%, 56%);
} 
#id12{
  background-color: #2DCDDF;
} 
#id12 p:hover {
  background-color: #57aeb7;
} 
#id16{
  background-color: #F05454;
} 
#id16 p:hover {
  background-color: #F05454;
} 
#id35{
  background-color: #F273E6;
} 
#id35 p:hover {
  background-color: #F273E6;
} 
#id80{
  background-color: #00337C;
} 
#id80 p:hover {
  background-color: #00337C;
} 
#id99{
  background-color: #7AA874;
} 
#id99 p:hover {
  background-color: #7AA874;
} 
#id18{
  background-color: #7B8FA1;
} 
#id18 p:hover {
  background-color: #7B8FA1;
} 
#id10751{
  background-color: #FF7B54;
} 
#id10751 p:hover {
  background-color: #FF7B54;
} 
#id14{
  background-color: #10A19D;
} 
#id14 p:hover {
  background-color: #10A19D;
} 
#id36{
  background-color: #EB6440;
} 
#id36 p:hover {
  background-color: #EB6440;
} 
#id27{
  background-color: #E80F88;
} 
#id27 p:hover {
  background-color: #E80F88;
} 
#id10402{
  background-color: #6C00FF;
} 
#id10402 p:hover {
  background-color: #6C00FF;
} 
#id9648{
  background-color: #735F32;
} 
#id9648 p:hover {
  background-color: #735F32;
} 
#id10749{
  background-color: #FF597B;
} 
#id10749 p:hover {
  background-color: #FF597B;
} 
#id878{
  background-color: #00FFF6;
} 
#id878 p:hover {
  background-color: hsl(178, 35%, 50%);
} 
#id10770{
  background-color: #FEFCF3;
} 
#id10770 p:hover {
  background-color: hsl(19, 35%, 27%);
} 
#id53{
  background-color: #3C2A21;
} 
#id53 p:hover {
  background-color: #3C2A21;
} 
#id10752{
  background-color: #495579;
} 
#id10752 p:hover {
  background-color: #495579;
} 
#id37{
  background-color: #867070;
} 
#id37 p:hover {
  background-color: #867070;
} 
.inactive{
  display: none !important
}
.active-fav{
  z-index: 1 !important
}
@media (min-width: 500px) {
  .main-category-movies, .main-tendencia-movies,
    .main-category-movies, main .main-search .main-search-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .main-category-movies .movie-container, .movie-container, main .main-search .main-search-movies .movie-container {
    width: 220px;
  }
  .categoria .categoria-list .categories-container {
    justify-content: flex-start;
  }
  .categoria .categoria-list .categories-container li {
    width: 25%;
  }
}
@media (min-width: 900px) {
  .categoria .categoria-list .categories-container li {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .categoria .categoria-list .categories-container li {
    width: 16.6%;
  }
}